
<!DOCTYPE html>
<html lang="en">
     <%- include partials/head %>
     <header>
          <%- include partials/main_nav%>
     </header>
     <body class="d-flex flex-column h-1000 mb-5" ">
          <div class="row mx-4 my-2">
               <div class="col-md-12 text-center">
                    <h1 >Welcome to the <%= title%> Page</h1>
               </div>
               <div class="row mt-5 mb-5">
                    <div class="col-md-9">
                         <div class="mt-4">               
                              <p class="h5 text-white">Hello,</p>
                              <p class="h5">
                                   My name is <b style="color:black;">Arpit Kamal</b> I am basically from India. I did my graduation from Punjabi University, Patiala in Computer Science and Engineering. 
                              </p>
                              <p class="h5 ">
                                   I'm currently pursuing the 
                                   <b style="color:black;">Artificial Intelligence Fast-Track Program</b> at Centennial College.
                              </p>
                              <p class="h5">
                              
                              </p>
                         </div>
                    </div>
                    <div class="col-md-3">
                         <img src="/images/my_image.jpg" class="img-fluid mb-2" alt="..." style="border-radius: 50%;">   
                    </div>
               </div>
          </div>  
          <%- include partials/footer%>
     </body>
</html>