<!DOCTYPE html>
<html lang="en">
    <%- include partials/head %>
    <header>
        <%- include partials/main_nav %>
    </header>
    <body>
          <div class="col-md-12 mx-2 my-2 ">
    <div class="col-md-12 text-center">
        <h1 >Welcome to Express <%= title%></h1>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            <h1 class="homeh1">Hey, My name is Arpit Kamal</h1>
				<a href="/files/Arpit's_Resume.pdf" download="Resume_Arpit">
					<button type="button " class="btn text-light btn-lg bg-dark">Download My Resume
					<i class="fa fa-download" download></i>
					</button>
				</a>
        </div>
        </div>
    </div>


    </body>
</html>






