
  
<%- include partials/head.ejs %>


<% include partials/main_nav.ejs %>

  <!-- main content -->
      <div class="contanier fluid-padding" ">
         <div class="row welcome text-center" >
            <div class="col-12">
            </div>           
         </div>
      </div>
        
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>

  
</div>

 

